.previewContainer {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  margin: 24px;
  display: flex;
  flex: 1;
}

/* --------------- SIDEBAR TOP --------------- */

.cvSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(72, 121, 255);
  flex: 2;
}

.sidebarTop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.sidebarTop img {
  width: 100%;
  background-color: #668ebe;
  border-radius: 100%;
  box-shadow: 2px 2px 10px black;
}

/* --------------- SIDEBAR BODY --------------- */

.sidebarBody {
  padding: 16px;
}

.sidebarContact {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebarContact img {
  height: 30px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* --------------- MAIN TOP --------------- */

.cvMain {
  overflow: hidden;
  background-color: #fff;
  flex: 5;
}

.cvHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: rgb(171, 212, 231);
  box-shadow: 0px 1px 3px black;
  margin-top: 36px;
  padding: 28px 0;
}

.cvHeader h1 {
  font-size: 48px;
}

.cvHeader h2 {
  font-size: 32px;
}

/* --------------- MAIN BODY --------------- */

.cvBody {
  padding: 28px;
}

#titleIcon {
  height: 36px;
}

.previewEducation > h1, .previewWorkExp > h1 {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* --------------- EDUCATION PREVIEW --------------- */

.previewEducation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 36px;
}

.eduItem, .workItem {
  padding: 8px;
  display: flex;
}

.bulletPoint {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.itemLeft {
  flex: 3;
}

.itemRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

/* --------------- WORK EXPERIENCE PREVIEW --------------- */

.previewWorkExp {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


