@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

html, body {
  height: 100%;
}

body {
  background-color: #111920;
  display: flex;
  flex-direction: column;
}

header {
  padding: 24px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

main {
  flex-grow: 1;
}

input {
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: none;
  border-bottom: 3px solid rgb(255, 153, 0);
}

.wrapper {
  padding: 12px 86px;
  display: flex;
  flex-grow: 1;
}

.editor {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.editor hr {
  margin: 18px;
}

.customForm {
  padding: 18px;
  background-color: rgb(108, 109, 145);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.customForm h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.customForm img {
  height: 36px;
}

.customForm input {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4px;
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.preview {
  display: flex;
  flex: 1;
}

